- content_for(:title){ "Главная #{pager.pages[pager.cur]}" }

.box-bar.home
  .box-corner
  .box-bar-text
    #realtimestatus.control
    %span.title
      %a Главная страница
.subbar.home{:style => "display:none"}
.box-body
  #feed
    - entries.each do |entry|
      = partial(:entry, entry)
  .pager.bottom
    #pages
      - pager.pages.each_with_index do |page, i|
        %a{href: "index#{page}.html", class: (i == pager.cur) ? 'clio-current' : ''}= i+1
  %div{:style => "clear:both; height:12px"}
.box-bottom
  .box-corner
  .box-spacer
