<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FriendFeed</title>
    <link rel="stylesheet" href="./css/nano-theme-helvetica.css" type="text/css" />
    <link rel="stylesheet" href="./css/clio.css" type="text/css" />

    <script src="./lib/jquery.js"></script>
    <script type="text/javascript">
        jQuery.query = { numbers: false, hash: true };
    </script>
    <script src="./lib/jquery.query.js"></script>
    <script src="./lib/pure.js"></script>
    <script src="./lib/urlencode.js"></script>

    <script src="./lib/clio-templates.js"></script>
    <script src="./lib/settings.js"></script>
    <script src="./lib/clio.js"></script>

    <script type="text/javascript">
        Clio.showIndexEntry($.query.get('index'), $.query.get('term'), $.query.get('page'));
    </script>

</head>

<body>
    <div id="bodydiv">
        <div id="container">
            <div id="header">
                <table>
                    <tr>
                        <td class="logo"><a href="./index.html"><img src="./images/nano-logo.png" alt="FriendFeed" style="width:227px;height:50px;" /></a></td>

                        <td>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="sidebar">
                <div class="box" id="subindex">
                    <div class="box-bar">
                        <div class="box-corner"></div>

                        <div class="box-bar-text">
                            <span class="title"><a href="(index page)"></a></span>
                        </div>
                    </div>

                    <div class="subbar" style="display:none"></div>

                    <div class="box-body">
                        <ul>
                            <li><a href="(list url)" class='sidebar-nav'></a></li>
                        </ul>
                    </div>

                    <div class="box-bottom">
                        <div class="box-corner"></div>
                        <div class="box-spacer"></div>
                    </div>
                </div>

                <div id="grouped-indexes">
                    <div class="box">
                        <div class="box-bar">
                            <div class="box-corner"></div>

                            <div class="box-bar-text">
                                <span class="title"><a href="(страница индекса)"></a></span>
                            </div>
                        </div>

                        <div class="subbar" style="display:none"></div>

                        <div class="box-body">
                            <div class="group">
                                <div class="group-title"><a href="#"></a></div>
                                <ul class="group-contents">
                                    <li><a href="(list url)" class='sidebar-nav'></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-bottom">
                            <div class="box-corner"></div>
                            <div class="box-spacer"></div>
                        </div>
                    </div>
                </div>

                <div id="plain-indexes">
                    <div class="box">
                        <div class="box-bar">
                            <div class="box-corner"></div>

                            <div class="box-bar-text">
                                <span class="title"><a href="(index page)"></a></span>
                            </div>
                        </div>

                        <div class="subbar" style="display:none"></div>

                        <div class="box-body">
                            <ul>
                                <li><a href="(урл списка)" class='sidebar-nav'></a></li>
                            </ul>
                        </div>

                        <div class="box-bottom">
                            <div class="box-corner"></div>
                            <div class="box-spacer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="body">
                <div class="box white" id="page">
                    <div class="box-bar home">
                        <div class="box-corner"></div>

                        <div class="box-bar-text">
                            <!--
                            <div id="realtimectl" class="control">
                                <div class="l_realtimepause" title="Приостановить обновления"></div>
                            </div>

                            <div class="control">
                                <a href="#" class="l_deliveryoptions" feedid="00000000000000000000000000000000" category="lists">E-mail / IM</a>
                            </div>
                            -->

                            <div id="realtimestatus" class="control"></div><span class="title"><a>Главная страница</a></span>
                        </div>
                    </div>

                    <div class="subbar home" style="display:none"></div>

                    <div class="box-body">
                        <div id="feed">
                            <div class="l_entry entry nopicture">
                                <div class="body">
                                    <div class="ebody">
                                        <div class="title">
                                            <div class="name">
                                                <a href="(user url)" class="l_profile"></a>
                                            </div>

                                            <div class="text">
                                            </div>

                                            <div class="images media">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="container"><a rel="nofollow" href="(src)"><img src="(pic)" class="thumbnail" style="(size)"/></a></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <a class="date" href="(entry url)"></a>
                                        <span class="via">via 
                                        <a class="service" rel="nofollow" href="(src url)"></a></span>
                                    </div>

                                    <div class="likes">
                                        <span class="lbody"><a href="(user url)" class="l_profile"></a></span>
                                    </div>

                                    <div class="comments all_comments">
                                        <div class="comment">
                                            <div class="quote" title="(date)"></div>

                                            <div class="content">
                                                 - <a href="(user url)" class="l_profile"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comments first_comments">
                                        <div class="comment">
                                            <div class="quote" title="(дата)"></div>

                                            <div class="content">
                                                 - <a href="(user url)" class="l_profile"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comments middle_comments expandcomment">
                                        <a class="hidden_comments_stub l_expandcomments" href='#'></a>
                                        <div class="hidden_comments_contents">
                                            <div class="comment">
                                                <div class="quote" title="(date)"></div>

                                                <div class="content">
                                                     - <a href="(user url)" class="l_profile"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comments last_comments">
                                        <div class="comment">
                                            <div class="quote" title="(date)"></div>

                                            <div class="content">
                                                 - <a href="(user url)" class="l_profile"></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="clear"></div>
                            </div>

                        </div>
                        
                        <div class="pager bottom">
                            <div id="pages"> <a href="(page address)"></a> </div>
                        </div>
                        
                        <div style="clear:both; height:12px"></div>
                    </div>

                    <div class="box-bottom">
                        <div class="box-corner"></div>

                        <div class="box-spacer"></div>
                    </div>
                </div>
            </div>

            <div id="footer">
                ©2010 FriendFeed (and a bit of <a href="http://friendfeed.com/zverok">zverok</a>’s ingenuity)
            </div>
        </div>
    </div>

    <div id="extradiv"></div>

    <div id="extradivtoo"></div>
</body>
</html>
