.hidden, [view=hidden]{
    display: none;
}

.clio-current{
    color: black;
    font-weight: bold;
}

.group-contents{
    display: none;
}

.clio-expanded .group-contents{
    display: block;
}

#subindex li{
    display: inline-block;
    padding: 1px;
    margin: 0 2px 0 2px;
    font-size: 13px;
    /*border-right: 1px solid silver;*/
}

.group-contents{
    margin-left: 8px !important;
}

.group-contents li{
    font-size: 13px;
}

/*.l_entry .likes a{
    padding: 0 1px 0 1px;
    border-left: 1px solid silver;
}*/

.l_entry .likes .lbody:after{content: ", "}
.l_entry .likes .lbody:last-child:after{content: " liked this"}

.middle_comments .hidden_comments_contents{
    display: none;
}

.middle_comments.clio-show-comments .hidden_comments_contents{
    display: block;
}

.middle_comments.clio-show-comments .hidden_comments_stub{
    display: none;
}
